[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
djangorestframework = "*"
markdown = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-rest-swagger = "*"
drf-yasg = "*"
social-auth-app-django = "*"
django-allauth = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
